* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(35deg, #480f3d, #e8edee);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#name{
  opacity: 0.9;
  margin-top: -40%;
  margin-left: 0%;
  transform: translateX(260px);
  color: #f506c1;
  text-decoration:wavy;
  text-shadow: 1px -2px 5px #000,2px -1px 5px #000,3px -3px 5px #000,4px -4px 5px red;
  font-size: 50px;
}

.calculator {
  background: transparent;
  width: 340px;
  border-radius: 16px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.5);
  overflow: hidden;
}

.display {
  background: #111111ad;
  color: #1e4fd6;
  min-height: 140px;        /* ⬅️ increased Y size */
  padding: 15px;
  font-size: 2rem;
  line-height: 1.4;
  overflow-y: auto;         /* ⬅️ vertical scrolling */
  overflow-x: hidden;
  outline: none;
  white-space: pre-wrap;    /* ⬅️ multiline */
  word-break: break-word;
  border-bottom: 2px solid #444;
  border-radius: 25px;
  margin-bottom: 2px;
}

/* Auto font resize */
.display.small {
  font-size: 1.4rem;
}

.display.smaller {
  font-size: 1.1rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  padding: 18px;
  font-size: 1.3rem;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.1s;
  border-radius: 12px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
}

.btn:hover {
  opacity: 0.85;
}

.operator {
  background: #ffc107;
  color: #000;
}

.equal {
  background: #28a745;
  color: white;
  grid-row: span 2;
}

.btn:active {
  transform: scale(0.95);
}
